@charset "utf-8";
/* CSS Document */
body {
	padding: 0;
	margin: 0;
	background: #d6d6d6;
	font-family: "Century Gothic", Arial;
}

img {
	border: 0px;
}

:focus {
	outline-color: transparent;
	outline-style: none
}

.lft {
	float: left
}

.rht {
	float: right
}

.clr {
	clear: both
}

.marL10 {
	margin-left: 10px !important
}

.marT10 {
	margin-top: 10px
}

.marT20 {
	margin-top: 20px
}

#container {
	width: 990px;
	margin: 0 auto;
	padding: 30px 0;
}

#topBor {
	background: url(../../images/mc/bage-back.gif) no-repeat top center;
	height: 13px
}

#main {
	background: url(../../images/mc/bage-back1.gif) repeat-y top center
}

#botBor {
	background: url(../../images/mc/bage-back.gif) no-repeat bottom center;
	height: 13px
}

header, nav, mark, footer, section {
	display: block;
}

header h1 {
	margin: 0px;
	padding: 15px 25px
}

h2 {
	margin: 0;
	padding: 0px;
	font-weight: normal;
	color: #c5161d;
	font-size: 16px;
	line-height: 20px
}

h3 {
	margin: 0;
	padding: 0px;
	font-weight: bold;
	color: #c5161d;
	font-size: 14px;
	line-height: 10px
}

.relative {
	position: relative
}

.lOut {
	position: absolute;
	top: 80px;
	right: 25px;
	width: 120px
}

.lOut a {
	display: block;
	background: url(../../images/mc/logout.gif);
	width: 71px;
	height: 20px;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	color: #c5161d;
	float: right;
	margin: 10px 15px 0 0
}

.lOut a:hover {
	color: #000;
}

nav {
	background: url(../../images/mc/nav.gif) no-repeat;
	height: 32px
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}

nav ul li {
	float: left;
	margin: 0px;
	padding: 0 25px
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	line-height: 26px;
	font-size: 12px
}

nav ul li a:hover {
	color: #ffff99
}

mark {
	font-size: 11px;
	background-color: #FFF;
	background-image: url(../../images/mc/alert.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px
}

mark span {
	color: #c5161d
}

section {
	padding: 20px 34px
}

.sc1frm {
	width: 920px;
	background: url(../../images/mc/redmbor920.gif)
}

.sc1frm .redtop {
	background: url(../../images/mc/redtbor920.gif) no-repeat;
	width: 920px;
	height: 4px
}

.sc1frm .redbot {
	background: url(../../images/mc/redBbor920.gif) no-repeat bottom center;
	padding: 15px 25px
}

.sc1frm .redbot h2 {
	padding: 0 0 15px 18px
}

.sc1frm .redtop1 {
	background: url(../../images/mc/redtbor920.gif) no-repeat;
	width: 920px;
	height: 4px
}

.sc1frm .redbot1 {
	background: url(../../images/mc/redBbor920.gif) no-repeat bottom center;
	padding: 0px 0px
}

.sc1frm .redbot1 h2 {
	padding: 0 0 15px 18px
}

footer {
	background: url(../../images/mc/footer-back.jpg) no-repeat 12px 0px;
	font-size: 11px;
	padding-left: 25px;
	line-height: 25px
}

footer a {
	color: #000;
	text-decoration: none
}

footer a:hover {
	color: #c5161d
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

ul.frm1 li {
	float: left;
	margin-bottom: 7px
}

ul.frm1 li.txt {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	margin-left: 20px;
	width: 96px;
	font-weight: normal;
	line-height: 23px
}

ul.frm1 li.inp {
	background: url(../../images/mc/txt-fld.png) no-repeat;
	width: 291px;
	height: 32px;
	display: block
}

ul.frm1 li.inp1 {
	background: url(../../images/mc/txt-fld1.png) no-repeat;
	width: 220px;
	height: 32px;
	display: block
}

ul.frm1 li.inp2 {
	background: url(../../images/mc/txt-fld1.png) no-repeat;
	width: 120px;
	height: 32px;
	display: block
}

ul.frm1 li.inp input, #lgnFrm ul li.inp select {
	width: 280px;
	border: none;
	margin: 3px 5px 5px;
	height: 18px;
	color: #999;
	font-size: 12px;
	padding: 0px;
	background: none
}

ul.frm1 li.inp1 input {
	width: 210px;
	border: none;
	margin: 3px 5px 5px;
	height: 18px;
	color: #999;
	font-size: 12px;
	padding: 0px;
	background: none
}

.btn input {
	background: #c5161d;
	border: 1px solid #fff;
	color: #fff;
	font-family: "Century Gothic", Arial;
	padding: 0px 12px 3px 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	margin-left: 20px;
	cursor: pointer;
	height: 25px
}

.btn-1 input {
	background: #FF0000;
	border: 1px solid #fff;
	color: #fff;
	font-family: "Century Gothic", Arial;
	padding: 0px 6px 3px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	margin-left: 20px;
	cursor: pointer;
	height: 25px
}

.btn1 input {
	background: url(../../images/mc/btn-back.gif);
	border: 2px solid #fff;
	color: #fff;
	font-family: "Century Gothic", Arial;
	padding: 2px 35px 3px 35px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 20px;
	cursor: pointer;
	box-shadow: 0px 0px 7px #999;
}

table.redbot1 {
	background: url(../../images/mc/redBbor920.gif) no-repeat bottom center;
}

table.tbl920 thead th {
	border-bottom: #D7D7D7 1px solid;
	line-height: 25px;
	font-size: 12px;
	background: url(../../images/mc/tblHD920.gif) top center;
	color: #c5161d;
	text-align: left;
	padding: 0 15px
}

table.tbl920 thead th.fst {
	background-position: top left
}

table.tbl920 thead th.lst {
	background-position: top right
}

table.tbl920 td {
	font-size: 11px;
	padding: 5px 8px;
	border-top: 1px solid #D7D7D7
}

table.tbl9201 td {
	font-size: 12px;
	padding: 5px 9px;
	border-top: 0px solid #D7D7D7
}

table.tbl920 td a {
	color: #c5161d;
	text-decoration: none
}

table.tbl920 td a:hover {
	color: #000;
}

ul#pagination {
	list-style-type: none;
}

ul#pagination li {
	float: left
}

ul#pagination li a {
	color: #c5161d;
	font-size: 11px;
	text-decoration: none;
	padding: 3px;
	line-height: 15px
}

ul#pagination li a:hover {
	color: #000;
}

ul#pagination li.select a {
	text-decoration: underline;
	font-weight: bold
}

ul#pagination li.select1 a {
	text-decoration: none;
	font-weight: bold
}

ul#pagination li.select a:hover {
	color: #c5161d;
}

ul#pagination li.select1 a:hover {
	color: #c5161d;
}

.errMsg {
	background: url(../../images/mc/error.gif) no-repeat 1px 1px;
	line-height: 16px;
	color: #c5161d;
	font-size: 12px;
	margin: 10px 0;
	font-weight: bold;
	padding-left: 20px
}
/*Location*/
.loc-lft {
	float: left;
	width: 410px;
}

.loc-srch {
	background: url(../../images/mc/loc-srch-back.gif) no-repeat;
	width: 400px;
	height: 48px;
}

.loc-srch ul {
	list-style-type: none;
	margin: 0;
	padding: 12px 0 0 15px;
}

.loc-srch ul li {
	float: left;
	display: block;
	margin: 0px;
}

.loc-srch ul li.l1 {
	color: #c5161d;
	font-size: 12px;
	font-weight: bold;
	width: 78px;
	line-height: 20px
}

.loc-srch ul li.l2 {
	background: url(../../images/mc/loc-txt-fld.png) no-repeat 15px 0;
	width: 205px;
	height: 32px
}

.loc-srch ul li.l2 input {
	border: 0px;
	background: none;
	margin: 0px 5px 12px 20px;
	width: 180px;
	height: 15px
}

.loc-rht {
	float: right
}

.sc2frm {
	width: 400px;
	background: url(../../images/mc/redmbor400.gif)
}

table.tbl400 {
	background: url(../../images/mc/redBbor400.gif) no-repeat bottom center;
}

table.tbl400 thead th {
	border-bottom: #D7D7D7 1px solid;
	line-height: 25px;
	font-size: 12px;
	background: url(../../images/mc/tblHD400.gif) top center;
	color: #c5161d;
	text-align: left;
	padding: 0 15px
}

table.tbl400 thead th.fst {
	background-position: top left
}

table.tbl400 thead th.lst {
	background-position: top right
}

table.tbl400 td {
	font-size: 11px;
	padding: 5px 8px;
	border-top: 1px solid #D7D7D7
}

#map {
	width: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 450px;
	box-shadow: 0px 0px 7px #999999;
	border: #c5161d 1px solid;
}

.error {
	position: absolute;
	background: url(../../images/mc/error.gif) no-repeat 1px 1px;
	line-height: 16px;
	color: #c5161d;
	font-size: 12px;
	padding-left: 22px;
	top: 5px;
	left: 120px;
	font-weight: bold
}

.error1 {
	position: absolute;
	background: no-repeat 1px 1px;
	line-height: 16px;
	color: #c5161d;
	font-size: 12px;
	padding-left: 22px;
	top: 5px;
	left: 25px;
	font-weight: bold
}
/**/
#resNum {
	float: right;
	padding-top: 5px
}

#resNum div {
	float: left;
	font-size: 10px;
	line-height: 22px
}

#resNum div.slct {
	width: 57px;
	height: 26px;
	background: url(../../images/mc/select-back-small.png);
	padding: 0px
}

#resNum div.slct select {
	width: 45px;
	margin: 3px 6px 6px 6px;
	height: 18px;
	border: none;
	background: none;
	font-size: 10px;
	padding: 0px
}

/* lightBox*/
#ovrLay {
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background: #ccc;
	width: 100%;
	z-index: 9;
	top: 0px;
	left: 0px;
	display: none
}

#lb {
	width: 100%;
	padding-top: 200px;
	text-align: center;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: none
}

#lbCnt {
	width: 600px;
	padding: 15px;
	background: #fff;
	border: 1px solid #c5161d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px #999;
	margin: 0 auto;
	text-align: left
}

#lbCnt .tblsml {
	font-size: 12px;
}

#lbCnt .tblsml td {
	border-bottom: 1px solid #CCC
}

#lbCnt .tblsml td.sml1 {
	text-align: right;
	width: 30%
}

#lbCnt .tblsml td.sml2 {
	width: 70%;
	color: #666
}

a.clsBtn {
	position: absolute;
	z-index: 11;
	top: -25px;
	right: -25px
}
/* */
.alrt1 select {
	width: 350px;
	border: 1px solid #c5161d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px #999;
	color: #333
}

.alrt1 .s1 {
	width: 38%;
}

.alrt1 .s1 h2 {
	margin-bottom: 10px
}

.alrt1 .s2 {
	width: 24%;
	text-align: center;
	padding-top: 190px
}

.alrt1 .s2 img {
	margin: 8px
}

.alrt1 .s22 {
	width: 24%;
	text-align: center;
	padding-top: 65px
}

.alrt1 .s22 img {
	margin: 8px
}

.addw {
	background: url(../../images/mc/addword-back.gif) no-repeat;
	width: 350px;
	height: 48px;
}

.addw ul {
	list-style-type: none;
	margin: 0;
	padding: 12px 0 0 15px;
}

.addw ul li {
	float: left;
	display: block;
	margin: 0px;
}

.addw ul li.l2 {
	background: url(../../images/mc/txt-fld1.png) no-repeat;
	width: 220px;
	height: 32px;
	display: block
}

.addw ul li.l2 input {
	width: 210px;
	border: none;
	margin: 3px 5px 5px;
	height: 18px;
	color: #999;
	font-size: 12px;
	padding: 0px;
	background: none;
	line-height: 15px
}

.slct {
	border: 1px solid #999;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-box-shadow: 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: 0px 0px 2px 0px #ccc;
	box-shadow: 0px 0px 2px 0px #ccc;
	height: 22px;
	padding: 2px 3px;
	line-height: 14px;
	font-size: 12px;
	background: url(../../images/mc/select-back.gif) repeat-x
}
/*GeoFencing*/
.geo-lft {
	float: left;
	width: 410px;
}

.geo-srch {
	background: url(../../images/mc/loc-srch-back.gif) no-repeat;
	width: 400px;
	height: 48px;
}

.geo-srch ul {
	list-style-type: none;
	margin: 0;
	padding: 12px 0 0 15px;
}

.geo-srch ul li {
	float: left;
	display: block;
	margin: 0px;
}

.geo-srch ul li.l1 {
	color: #c5161d;
	font-size: 12px;
	font-weight: bold;
	width: 78px;
	line-height: 20px
}

.geo-srch ul li.l2 {
	background: url(../../images/mc/loc-txt-fld-1.png) no-repeat 15px 0;
	width: 205px;
	height: 32px
}

.geo-srch ul li.l22 {
	width: 205px;
	height: 32px
}

.geo-srch ul li.l2 input {
	border: 0px;
	background: none;
	margin: 0px 5px 12px 20px;
	width: 200px;
	height: 15px
}

.geo-rht {
	float: right
}